.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  .card-cover {
    font-size: 3rem;
    color: #27374d;
  }
  
  .card-title h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card-title p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  