/* Wrapper for the whole content including the sidebar and main content */

  /* Sidebar MenuBar styling */
  .sidebar {
    width: 250px; /* Fixed width for the sidebar */
    flex-shrink: 0;
    background-color: #27374d; /* Darker background for the sidebar */
    color: #dde6ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .dashboardsubheading {
    font-family: 'Roboto', sans-serif; /* Use Google font */
    font-size: 2rem; /* Adjust the size based on your design */
    font-weight: 700; /* Bold heading */
    color: #1f3a5f; /* Navy blue shade */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px; /* Add space after the heading */
  }
  
  /* Main content area */
  .dashboard--content {
    flex-grow: 1; /* Take up the remaining space */
    border-radius: 20px;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    position: absolute;
    top: 0px; 
    left: 300px; 
  }
  
  /* Table and Title Styling */
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #27374d;
    margin-bottom: 20px;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #555;
  }
  
  .dashboard-table th {
    background-color: #27374d;
    color: white;
    text-align: center;
  }
  
  .dashboard-table td {
    text-align: center;
  }
  
  .dashboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .dashboard-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .dashboard-table td[colspan] {
    text-align: center;
    font-weight: bold;
  }
  