/* Content Area */
.dashboard--content {
    width: 100%; /* Increase from 50% to 70% or adjust as needed */
    flex-grow: 1; /* Continue to take up remaining space */
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: auto;
}

